
@{
	ViewData["Title"] = "תחומי טיפול";
}
<section class="treat-secsion">
	<h1 class="treatments-title">תחומי מומחיות וטיפול</h1>
	<div style="display:flex; flex-direction:row; gap:60px; margin-bottom:50px; margin-top:40px;";>
	<div class="treatments-card">
		<div class="treatment-icon"><i class="fa-solid fa-brain"></i></div>
		<h2>שיקום נירולוגי</h2>
		<p> טיפול בפרקינסון, הפרעות תנועה<br>ושיפור תפקוד יום יומי</p>
	</div>
	<div class="treatments-card">
		<div class="treatment-icon"><i class="fa-solid fa-bone"></i></div>
		<h2>שיקום אורטופדי</h2>
		<p>מומחיות בפציעות שירות, עמוד<br />שדרה ופציעות שלד</p>
	</div>
	<div class="treatments-card">
		<div class="treatment-icon"><i class="fa-solid fa-kit-medical"></i></div>
		<h2>טיפול מתקדם בכאב</h2>
		<p>הזרקות תחת אולטרסאונד, דיקור<br />יבש וטכניקות שריר-שלד</p>
	</div>
	<div class="treatments-card">
		<div class="treatment-icon"><i class="fa-solid fa-dumbbell"></i></div>
		<h2>רפואת ספורט</h2>
		<p>חזרה לשגרה מפציעות,שיפור<br /> מסוגלות גופנית, וליווי ספורטיים</p>
	</div>
	</div>
		<div class="treatment-cta">
			<p>"מאמין בכוח בפעילות הגופנית לשיפור תחושת<br />
				המסוגלות, בריאות הגוף והנפש ואיכות החיים"</p>
		</div>
</section>
