@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="hero-text">
        <h1>מומחה לשיקום, תנועה<br />ורפואת ספורט</h1>
        <p>רופא בכיר במרכז שיבא, בעל ניסיון עשיר<br />בשיקום צה"ל, נוירולוגי ואורטופדי</p>
        <a asp-controller="Home" asp-action="Contact" class="btn-hero">תיאום יעוץ רפואי</a>
    </div>
    <div class="hero-image">
        <img src="https://www.sheba.co.il/cms-media/media/gmebnfbp/%D7%90%D7%A8%D7%96-%D7%A8%D7%99%D7%A0%D7%92%D7%9C%D7%A8.webp"
        alt="דוקטור ארז רינגלר" />
    </div>
</section>
